{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "ignorePatterns": [ "client/*" ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "args": "none",
        "argsIgnorePattern": "next"
      }
    ],
    "no-var": 1,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "block-spacing": "error",
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "space-before-blocks": "error",
    "keyword-spacing": "error",
    "no-console": 0,
    "no-trailing-spaces": [
      2
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "computed-property-spacing": [
      "error",
      "never",
      {
        "enforceForClassMembers": true
      }
    ],
    		"space-infix-ops": ["error", {"int32Hint": false}],
		"space-unary-ops": [
        2, {
          "words": true,
          "nonwords": false
		}],
		"space-before-function-paren": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "arrow-parens":["error", "always"]
  }
}